@model ProductListVM

<head>
    <title>By Category</title>
</head>
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@ViewBag.Category</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach(var product in Model.Products)
            {
                string productImg = "/productImg/" + product.ProductImgFileName;
                <div class="single-product">
                    <div class="product-f-image">
                        <img src="@productImg" alt="">
                        <div class="product-hover">
                            <a asp-action="Details" asp-route-productId="@product.ProductId" class="view-details-link"><i class="fa fa-link"></i>Подробнее</a>
                        </div>
                    </div>
                                
                    <h2><a asp-action="Details" asp-route-productId="@product.ProductId">@product.ProductName</a></h2>
                                
                    <div class="product-carousel-price">
                        <ins>@product.Price сум</ins>
                    </div>
                    <a asp-controller="Orders" asp-action="AddOrder" asp-route-productId="@product.ProductId" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Заказать</a>
                </div>
            }
        </div>
    </div>
</div>

